<!DOCTYPE html>
<html lang="en">
<head>

<title>Recipe Hub</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
<h1>Recipe Hub</h1>
<nav>
<ul>
<li><a href="{{ url_for('index') }}">Home</a></li>
{% if 'loggedin' in session %}
<li><a href="{{ url_for('submit_recipe') }}">Submit Recipe</a></li>
<li><a href="{{ url_for('logout') }}">Logout</a></li>
{% else %}
<li><a href="{{ url_for('login') }}">Login</a></li>
<li><a href="{{ url_for('register') }}">Register</a></li>
{% endif %}
</ul>
</nav>
</header>
<main>
 {% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
{% block content %}{% endblock %}
</main>
</body>
</html>