{% extends "base.html" %}
{% block content %}

<body background="../static/images/login.jpg"></body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div class="login-container">
  <div class="box">
    <h2>Login</h2>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        <div class="flash-container">
          <ul>
            {% for category, message in messages %}
              <li class="flash-message {{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('login') }}" class="login-form">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required> 
        </div><br><br>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div><br><br>

        <button type="submit" class="btn">Login</button>
    </form>

    <p class="register-link">Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
  </div>
</div>

{% endblock %}




